/*Header*/
.pageTitle{
    color:#000;
    display:flex;
    align-items:center;
    flex-basis:auto;
}

/*Main*/
.gallery{
    display:flex;
    flex-wrap:wrap;
}
.gallery > img {
    margin:0 8px 4px 0;
}
.gallery>.imageHolder{
    position:relative;
}
.gallery > .imageHolder > img {
    margin:0 8px 4px 4px;
    width:16%;
}
.gallery>.imageHolder>.deleteButton{
    position:absolute;
    top:0;
    right:0;
    border-radius:50%;
}
header{
    height:14vh;
}
main{
    height:76vh;
}
/*Footer*/
footer{
    padding:0 24px;
    background:#f8f8f8;
    border:1px solid #e6e6e6;
    height:10.5vh;
    display:flex !important;
    justify-content: center !important;
    align-items: center;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
footer img {
    width:40px;
}

main{
    overflow:auto;
}